{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row row-content">
        <h2>Are you sure you want to delete {{ menu.name }}?</h2>
    </div>
    <div class="row row-content">
        <p>Description: {{ menu.description }}</p>
    </div>
    <div class="row row-content">
        <p>Price: {{ menu.price }}</p>
    </div>
    <div class="row row-content">
        <p>Course: {{ menu.course }}</p>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <form action="{{ url_for('delete_menu', restaurant_id=restaurant_id, menu_id=menu.id) }}" method="post">
                <button role="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="col-sm-1">
            <a role="button" class="btn btn-info" href="{{ url_for('showMenu', restaurant_id=restaurant_id) }}">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}