{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
</head>
<div class="ui large message"> Are you sure you want to delete {{item.name}}? </div>

<form action="#" method = 'post' class="ui form">

	<button type="submit" class="ui red button" id="submit" type="submit">Delete</button>
	<a href = '{{url_for('showRestaurants')}}'>
		<button class="ui red button">Cancel</button>
	</a>
</form>

{% endblock %}
