<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
</head>
<body>
<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/restaurant";
         }, 4000);
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  }); } }
</script>

<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '153318575469803',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use version 2.8
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/restaurant";
         }, 4000);
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  });
    });
  }
</script>

<br>
<div class="ui stacked segment container">
  <div class="ui top attached teal massive label"> Welcome!</div>
  <br><br>
  <br><br>

  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui raised segment container">
          <div class="ui top attached label">Sign in with Google</div>
          <div id="signinButton" class="ui fluid container">
          <span class="g-signin" 
            data-scope="openid email"
            data-clientid="9191284247-15282b4gcob5m7rnps55bi6gpfkv44vi.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
          </div>
      </div>
       <div class="ui message" id="result">Please login to continue</div>
    </div>
    <div class="eight wide column">
      <div class="ui raised segment container">
          <div class="ui top attached label">Sign in with Facebook</div>
          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
          <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
          </fb:login-button>
        
      </div>
    </div>
  </div> 
</div>


</body>

</html>