{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
</head>
<div class="ui raised segment container">
	<label class="ui top large attached label">New Menu Item</label>
	<hr>
	<div class="ui stacked segment container">
			<form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}" method="POST" class="ui form">
					<div class="field">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" name="name" placeholder="Name of the course">
					</div>
					<div class="field">
					<label for="description">Description:</label>
					<textarea maxlength="250" rows="3" name="description" placeholder="Description of the course"></textarea>
					</div>
					<div class="ui field">
						<div class="right labeled input">
						<label for="price">Price:</label>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in Rs">
						</div>
					</div>
					<div class="field">
						<label for="course">Course:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course1" value="Appetizer">Appetizer
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course2" value="Entree">Entree
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course3" value="Dessert">Dessert
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course4" value="Beverage">Beverage
					  </label>
					</div>
					</div>
					<button type="submit" class="ui green button" id="submit" type="submit">Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

